.App {
  text-align: center;

}
*{
  margin: 0;
  padding: 0;
}

.MuiGrid-root{
  padding-left: 0px;

}
.MuiPaper-elevation{
  height: 100%;
}
.MuiCardActions-root {
  display: flex;
  align-self: flex-end;
  margin: 0 20px;
}